/*BLUR EN FOTO PPAL
WORD-WRAP
:FOCUS NAV;
RESPONSIVE NAV

TRANSICION BOTON CONTACTAME*/


:root {
  --fucsia: #f4989e;
  --naranja: #f7955a;
}

/*font-family: 'Roboto', sans-serif;*/
@font-face {
    font-family: 'robotolight';
    src: url('fuentes/roboto-light-webfont.woff2') format('woff2'),
    url('fuentes/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u5bexp');
  src:  url('fonts/icomoon.eot?u5bexp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u5bexp') format('truetype'),
    url('fonts/icomoon.woff?u5bexp') format('woff'),
    url('fonts/icomoon.svg?u5bexp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


html,body{
    width: 100%;
    height: 100%;
}

body{
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 18px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    
}

.holder{
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    /*background: red;*/
}








/*INICIO HEAD*/
.header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background: white;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.50);
    
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:var(--fucsia);
    font-size: 2.2em;
    text-align: left;
    padding: 0;
    margin: 2% 0 3%;
    width: 45%;
}

.nav{
    max-width: 960px;
    margin: auto;
    display: flex;
}
.nav_sitio{
    width: 55%;
    float: right;
    padding: 0;
    /*display: flex;*/
}


.nav_sitio ul{
    list-style: none;
    margin: 4% 0;
    padding: 0;
    display: flex;
}

.nav_sitio ul li{
    margin:0;
    display: inline-block;
    
    flex:1;
    
}


.nav_sitio ul li a{
    color:gray;
    float: right;
    text-decoration: none;
    display: inline-block;

    font-size: 1em;
}

.nav_derecha{
    text-align: right;

}

.nav_izquierda{
    text-align: left;
    

}
.nav_centro{
    text-align: center;
    
}
.nav_sitio ul li a hr{
    margin-bottom: 0.1em;
}

hr{
    border-style: none;
    border-bottom: thin solid gray;
    margin: 0;
    padding-top: 0.5%;
}

.nav_sitio ul li a:hover {   
    color:var(--fucsia);
}

.nav_sitio ul li a:hover hr{
   border-bottom: thin solid var(--fucsia);
}


.click{
    font-weight: 500;
}


/*FIN HEAD*/
/*fin base*/








/*INICIO HOME*/
/*home que funciona
.fondo_inicio{
  background: url(../img/fondo_inicio.jpg) fixed center center #444;
    background-size: cover; 
    height: 100%;
    z-index: 2;
    position: relative;

}
.logo_chico{
    width: 40%;
    margin: 30%;
    z-index: 3;
   

}
*/
.fotofondo{
    width:100%;
    height: 100%;
    background:url(../img/fondo_inicio.jpg) no-repeat center #444;
    background-size:cover;
    position: absolute;
    left:0;
    top: 0;
    z-index: 2;
}

.fondo_inicio{
    height: 100%;
    z-index: 2;
    position: relative;

}
.logo_chico{
    position: absolute;
    width: 20%;
    margin:15% -10%; 
    animation: scale 0.95s infinite ease-out;
    transform-origin: center;
    

}
    
@keyframes scale{
    0%{transform: scale(1);}
    50%{transform: scale(.95);}
    100%{transform: scale(1);}
} 
  

.nav_home{
    margin:3% auto 0;
    font-size: 1.4em;
    padding: 0;
    width: 80%;
    visibility: hidden;
}

.nav_home ul{
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
}

.nav_home ul li{
    margin: 0;
    width: 20%;
    flex:1;
}

.nav_home ul li a{
    text-decoration:none;
    display: block;
    color:white;
    font-family: 'Roboto';
    font-weight: 300;

}

.nav_home ul li a hr{
    border-style: none;
    margin-top: 1%;
    border-bottom: thin white solid;
    visibility: hidden;
}


.nav_home ul li a:hover hr{
    visibility: visible;
}

hr.inicio{
    
    width: 33%;
}
hr.quien_soy{
    width: 58%;
}
hr.portfolio{
    width: 60%;
    margin: 0 auto;
} 
hr.servicios{
    width: 56.5%;
    margin: 0 0 0 auto;
} 
hr.contacto{
    width: 58%;
    margin: 0 0 0 auto;
} 
hr.servicios2{
    width: 56.5%;
    margin: auto;
} 

.frase{
    color: white;
    font-weight: 400;
    padding-top: 50%;
    margin-bottom: 7%;
    visibility: hidden;
}
.cita{
    font-size:1.2em;
    text-align: center;
    display: block;
    margin-bottom: 0.4em;

}
.autor{
    font-size: 1em;
    font-style: italic;
    color: white;
    text-align: right;
    margin-left: 64.5%;
}



.fondo_inicio:hover .logo_chico{
    width: 8%;
    -webkit-transition: all 0.5s;
    moz-webkit-transition:all 0.5s;
    o-webkit-transition:all 0.5s;
    margin:15% -4%;
    animation-play-state: paused;
}

.fondo_inicio:hover .frase{
    visibility: visible;
    transition-delay:0.5s;
}
.fondo_inicio:hover .nav_home{
    visibility: visible; 
    -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;
}


/*FIN HOME*/



/*INICIO QUIEN SOY*/

.contenido_qs{
   /*max-width: 90%;*/
    margin: auto;
    padding-top: 5%;
}


.descripcionpropia{
    /*display: block;*/
    width: 60%;
    float: left;
    padding-top: 10%;
   
}

.foto_qs{
 /*position: relative;*/
 /*padding-top: 25%;*/
 width: 32%;
 float: left;
 padding-right: 4%;
}

h3.titulo_qs{
    color: var(--naranja);
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.1em;
}

.texto_qs{
    line-height: 1.15em;
    text-align: left;
    /*width: 35%;*/
    padding-top: 3%;
    padding-left: 5%;
   font-family: 'Roboto' sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color:gray;
    z-index: 0;
}
.bolditalic{
    font-size: 1.049em;
    font-weight: 400;
    font-style: italic;
}
.bold{
    font-weight: 500;
}

a.contactame{ 
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
    color: gray; 
    float: left;
    position: relative;
    z-index: 0;
    
}
.fondocontactame{
    background: var(--fucsia);
    height:2em;
    width: 2em;
    filter: alpha(opacity=50); 
    opacity: 0.5;
    border-radius: 100%;
    float: left;
    z-index: -1;
    position: relative;
    visibility: visible;
    margin-left: -10.4em;
    margin-top: -3%;
    
}


.boton_circulo{
    background: var(--fucsia);
    height: 2em;
    width: 10.85em;
    border-top-left-radius: 15% 80%;
    border-bottom-left-radius: 15% 80%;
    border-top-right-radius: 15% 80%;
    border-bottom-right-radius: 15% 80%;
    visibility: hidden;
    
}
.botoncontactame:hover .fondocontactame{
    visibility: hidden;

}
.botoncontactame:hover .boton_circulo{
    visibility: visible; 


}
.botoncontactame{
    width: 15%;
    position: absolute;
    margin-top:8%;
    margin-left: 14%;
}

.botoncv{
    width: 18%;
    margin-top: 11%;
    margin-left: 14.2%;
    position: absolute;
    font-size: 0.8em;
}

a.cv{
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size:1em;
    color: gray; 
    float: left;
    position: relative;
    z-index: 0;
    padding-left: 8%;
}
.fondo_botoncv{
    background: var(--fucsia);
    height:2em;
    width: 2em;
    filter: alpha(opacity=50); 
    opacity: 0.5;
    border-radius: 100%;
    float: left;
    z-index: -1;
    position: relative;
    visibility: visible;
    margin-left: -9.1em;
    margin-top: -1%;
    
}
.boton_circulo2{
    background: var(--fucsia);
    height: 2em;
    width: 9.6em;
    border-top-left-radius: 18% 80%;
    border-bottom-left-radius: 18% 80%;
    border-top-right-radius: 18% 80%;
    border-bottom-right-radius: 18% 80%;
    filter: alpha(opacity=50); 
    position: relative;
    z-index: -1;
    margin-top: -1%;
    margin-left: -1%;
    visibility: hidden;
}

.botoncv:hover .fondo_botoncv{
    visibility: hidden;
}

.botoncv:hover .boton_circulo2{
    visibility: visible;
}

.dibujoentero{
    width: 40%;
    float: right;
    margin-top: 10%;
     transform:translate(0px,0px);
        -ms-transform:translate(0px,0px); 
        -moz-transform:translate(0px,0px); 
        -webkit-transform:translate(0px,0px); 
        -o-transform:translate(0px,0px);
        -webkit-transition: all .5s ease-in-out; 
        -moz-transition: all .5s  ease-in-out; 
        -ms-transition: all .5s ease-in-out; 
        -o-transition: all .5s  ease-in-out; 

    /*background: url(../img/quien_soy/cuerpocompleto-07.png);*/
}
.dibujoentero:hover{
    transform:translate(0em,3em);
            -ms-transform:translate(0,2em);
            -moz-transform:translate(0,2em);
            -webkit-transform:translate(0em,2em);
            -o-transform:translate(0em,2em); 
        }
/*
.cuerpo{
    width:80%;
    float: left;
    margin-left: -15%;
    margin-top: -15%;
    z-index: 0;
}
.mano{
    width: 16%;
    margin-top: -205%;
    float: right;
    margin-right: 5%;
    z-index: 2;
}
.brazo{
    width: 26%;
    margin-top: -209%;
    margin-right: 7%;
    float: right;
    z-index: 1;

}
.antebrazo{
    width: 37%;
    margin-top: -164%;
    margin-right: 25%;
    float: right;
    z-index: 1;

}                      
.dibujo{
    background: gray;
    float: right;
    width: 35%;
    height: 100%;
    margin-top: 10%;
}
.dibujo:hover .brazo, .dibujo:hover .mano, .dibujo:hover .antebrazo{
    -webkit-animation:rotate 0.5s infinite ease;
    -moz-animation:rotate 0.5s infinite ease;
    animation:rotate 0.5s infinite ease;
 /* -ms-transform: translate(0.1em, 5em);
    -webkit-transform: translate(0.1em, 0); 
    transform: translate(0em, -0.1em);
}
    @-moz-keyframes rotate {
    100% { -moz-transform: rotate(-5deg); } 
}
@-webkit-keyframes rotate { 
    100% { -webkit-transform: rotate(-5deg); } 
}
@keyframes rotate { 
    100% { -webkit-transform: rotate(-5deg);
     transform:rotate(-5deg); } 
 }
}
#videosList {
 max-width:30%; 
 float: right;
  overflow: hidden;
}

.video {
  width: 30%;
  margin-bottom: 50px;
}

/* Hide Play button + controls on iOS 
video::-webkit-media-controls {
    display:none !important;
}*/
/*FIN QUIEN SOY*/



/*INICIO PORTFOLIO*/

.contenido_portfolio{
    width:100%;
    height: 100%;
    background: var(--fucsia);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.50);
    box-shadow:0px 0px 15px 3px rgba(0,0,0,0.50);    
}
.adentro_portfolio{
   padding-top: 25%;
   max-width: 90%;
   margin: auto;
}
.portfolio_circulos{
    
    margin-bottom: 10%;
}
.circulo{
    border-radius: 100%;
    height: 6.9em;
    width:6.9em;
    margin-right:7.31%;
    text-align: center;
  /*  box-sizing:border-box;
    -moz-box-sizing:border-box;*/
    display: inline-block;
    font-weight: 400;
    font-size: 1.5em;
    color:white;
    line-height: 6.9em;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}
.serv1{
    background:url(../img/servicios/servicios-08.png) no-repeat center;
    background-size:cover;
}
.serv2{
    background:url(../img/servicios/servicios-09.png) no-repeat center;
    background-size:cover;
}
.serv3{
    background:url(../img/servicios/servicios-10.png) no-repeat center;
    background-size:cover;
}
.serv4{
    background:url(../img/servicios/servicios-11.png) no-repeat center;
    background-size:cover;
}
.circulo:last-child{
    margin-right: 0;
}

.circulo:hover{
    font-weight: 700;
    /*background:var(--fucsia);*/
    /*opacity: 1;*/
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.rectangulo{
    width: 7.5em;
    height: 2em;
    background: #444;
    margin-right: 5.1%;
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 4%;
    background:url(../img/portfolio/lact2.png) no-repeat center #444;
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.rectangulo:nth-child(4n+4){
    margin-right: 0;
}

/*FIN PORTFOLIO*/




/*INICIO SERVICIOS*/
.contenido_servicios{
    width: 100%;
    /*height: 100%;*/
    margin:auto;
    padding-top: 20%;
}

.trabajo{
    width: 20%;
    margin-right:6.1%;
    margin-left: 0;
    display: inline-block;
    content: center;
    text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}


.trabajo:last-child{
    margin-right: 0;
}

.img_servicios{
    width: 70%;
}

.trabajo h3{
    font-weight: 400;
    font-size: 1em;
    color: var(--naranja);
    margin: 3% 0;
}

.trabajo ul{
    margin: 0;
    padding: 0;
}

.trabajo ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: gray;
}
.software{
    color:var(--naranja);
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    width: 80%;
    margin-top: 10%;
}
.soft_graficos1, .soft_graficos2{
    float: left;
    margin-top:2%; 
    display: inline-block;

}
.soft_graficos1{
    margin-top: 5%;
}
.software img{
    width: 10%;
    margin-right:1%;
}


/*FIN SERVICIOS*/

/*INICIO CONTACTO*/
.contenido_contacto{
    width: 100%;
    
    margin: 0 auto 5%;
    /*padding-top: 10%;*/
}
#contacto{
    color:var(--naranja);
    font-weight: 400;
    margin: 0 auto;
    /*padding-top: 10%;*/
}

#section_formulario
{
    width: 50%;
    height: 15%;
    margin-right: 1%;
    margin-bottom: 1%;
    border:0.1em;
    color: gray;
}


.campos
{
    border: 0.05em solid #dddddf;
    background-color: #dddddf;
    color: gray;
    width: 24%;
    font-size: 1em;
    margin-bottom: 1%;
    border-radius: 0.8em;
    padding: 0.5% 1% ;
}

#pais{
    font-size: 1em;
    width: 26%;
    padding: 0.3em 1%;
    font-weight: 300;
    outline: none;
    border-radius: 2em;

}

#comentarios
{
    width: 25%;
    height: 5em;
    resize: none;
    border: 0.07em solid #dddddf;
    border-radius: 0.8em;
    outline: none;
    font-size: 1em;
    padding: 0.5%;
    color: gray;
}

/* snippet para cambiar la tipografia al placeholder*/
#comentarios::-moz-placeholder {
 font-family: 'Roboto' 
}
#comentarios::-webkit-input-placeholder { 
 font-family: 'Roboto' 
}
#comentarios::-ms-input-placeholder { 
    font-family: 'Roboto'
}


input:focus {
    border: 0.07em solid var(--fucsia);
    border-radius: 0.8em;
    outline: none;
}
#comentarios:focus{
    border: 0.05em solid var(--fucsia);
}

.boton1,.boton2
{
    height: 1.5em;
    font-size: 1em;
    background-color: var(--naranja);
    color: white;
    border: 0;
    border-radius: 2em;
    
}
.boton1{
    margin-right: 6%;
    width: 4.5em;
}

.boton2{
    width: 7.5em;
}


footer{
    background: var(--naranja);
    color: white;
    width: 100%;
    text-align: center;
    padding: 1% 0;
    margin: auto;
}

.botones_footer{
    width: 50%;
    text-align: center;
    display: inline-block;
    padding:1% 0 5%;
    text-align: center;
    color: white;
}
.sp_foot{
    font-weight: 400;
    font-size: 1.2em;
}
.boton_footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-right:5%;


}

.icon-celular:before,.icon-behance:before,.icon-linkedin:before,.icon-github:before{
    font-family: 'icomoon';
}
.icon-celular:before {
  content: "\e959";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eaca";
}


.copyright{
    font-weight: 400;
    font-size: 0.8em;

}
/*FIN CONTACTO*/


