#filters {
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}
	
	#filters li span.active {
		background: #e95a44;
		color:#fff;
	}
 

 
#portfoliolist .portfolio {
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

/* #Clearing */

/* Self Clearing Goodness */
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after {
  clear: both; }
.row,
{
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
