
.adentro_portfolio{
    /*background: lightblue;*/

    height: 30%;
    width: 100%;
}

.portfolio a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
#filters {
	list-style:none;
  margin-left: -3%;
}

	#filters li {
		float:left;

	}
	
	#filters li span {
		display: block;
		text-decoration:none;
		color:white;

		cursor: pointer;
	}
	
	#filters li span.active {
		color:white;
		font-weight: 700;
	}
 
#portfoliolist {
 
  height: 50%;
}
 
#portfoliolist .portfolio {
	/*margin:1%;*/
	display:none;
	float:left;
	overflow:hidden;
}

.item{
    /*background:url(../img/portfolio/lact2.png) no-repeat center;
    background-size: cover;*/
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 20%;
    height: 4em;
    background: #444;
    margin-right: 6.6%;
    margin-bottom: 3%;
    /*padding: 1%;*/
    display: inline-block;
}
.item h3 { 
    font-weight: 300;
    color: white;
    line-height:1em;
    visibility: hidden;
    font-size: 1.2em;
    text-align: center;

}
.item4{
  margin-right: 0;
}

div:hover.item h3 {
    visibility: visible;
}
/* #Clearing */

/* Self Clearing Goodness */
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after {
  clear: both; }
.row,
{
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
.portfolio_extras{
  margin: 0 auto;
  background: lightgray;
}

.extras_adentro{
  width: 90%;
  background: lightpink;
}
.nombre_extras{
  color:var(--fucsia);
  font-size: 1em;
  font-weight: 500;
  float: left;
}

.tipo_extras{
  color:gray;
  font-size: 1em;
  font-weight: 400;
  margin-top: 2%;
}*/