/*INICIO*/


.frase{
	margin-top: 25%;
    /*background: red;*/
}

.nav_home{
	margin-top: -5%;

}

.logo_chico{
    position: absolute;
    width: 20%;
    margin: -5% -10%; 
    
}

 .fondo_inicio:hover .logo_chico{
    width: 8%;
    -webkit-transition: all 0.5s;
    moz-webkit-transition:all 0.5s;
    o-webkit-transition:all 0.5s;
    margin:-10% -4%;
}




/*.nav_sitio{
	margin-bottom: 15%;
}
*/
/*FIN INICIO*/





/*QUIEN SOY*/

.foto_qs{
	width: 38%;
}
.texto_qs{
    line-height: 1.15em;
    text-align: left;
    float: right;
    width: 50%;
    font-size: 1.25em;
}
.botoncontactame{
    margin-top:28%;
    margin-left: 17%;
}

.botoncv{
	margin-top: 31%;
	margin-left: 17.5%;
}
.fondocontactame{
    margin-top: -5%;
}



/*FIN QUIEN SOY*/




/*INICIO PORTFOLIO*/

.portfolio_circulos{
    margin-bottom: 5%;
}
.rectangulo{
    margin-bottom: 3%;
}
.adentro_portfolio{
    padding-top: 18%;
    margin: 5% auto;

}





/*FIN PORTFOLIO*/





/*INICIO CONTACTO*/
.contenido_contacto {

    padding-top: 20%;
}
.campos{
    width: 50%;
}
#pais{
    width: 52%;
}
#comentarios{
    outline: none;
    width: 49%;
    padding: 1%;
}
.boton1{
    margin-right: 9.5%;
}

@media screen and (max-width:960px){
    .contenido_qs{
        padding-top: 10%;
    }
    .botoncontactame{
        margin-top: 32%;
         margin-left: 24%;
    }
    .botoncv{
        padding-top: 1%;
        margin-top: 35%;
         margin-left: 25%;
    }



    .circulo{
        margin-right: 5%;
    }
    .circulo:last-child{
    margin-right: 0;
    }
    .rectangulo{
        width: 6.9em;
        margin-right: 5%;
    }
    .rectangulo:nth-child(4n+4){
        margin-right: 0;
    }
}