:root {
  --fucsia: #f4989e;
  --naranja: #f7955a;
}


.fondo_inicio:hover .frase{
	visibility: hidden;
}
.fondo_inicio:hover .nav_home{
	visibility: visible;
}

.fondo_inicio:hover .logo_chico{
	width: 15%;
	margin:15%-10%;
	position: absolute;
   animation: scale 0.95s infinite ease-out;
    transform-origin: center;
}

.logo_chico{
    width: 15%;
    -webkit-transition: all 0.5s;
    moz-webkit-transition:all 0.5s;
    o-webkit-transition:all 0.5s;
    margin:15% -10%;
    animation-play-state: paused;
}

.nav_home{
    visibility: visible; 
}

#home_responsive{
	width: 90%;
}
.nav_home{
	margin-top:-30% ;
	text-align: center;
	padding-left: 30%;
}
.nav_home ul{
	display: list-item;
	padding: 0;
	margin: 0;
}
.nav_home ul li{
	width: 45%;
	margin: 0;
	flex:1;
}

.nav_home ul li a{
	padding-bottom: 20%;


}
.nav_derecha, .nav_izquierda, .nav_centro{
    text-align: center;
    
}


 hr.quien_soy, hr.portfolio, hr.servicios, hr.contacto{
    visibility: visible;
    width:40%;
    margin:auto;
}


/* NAV SITIO*/



.logo_nav{
 
  background: url(../img/favicon-03.png) no-repeat center;
  background-size:10%; 
	visibility: visible;
  padding-bottom: -5em;
   width: 100%;
  height: 4em;
}
.logo_navchico{
}
.nav_sitio{
  margin-top: -5em;
}
.nav_sitio ul li a{
  font-size: 0.1em;
  visibility: hidden;
}
.nav h1{
  font-size: 0.01em;
  visibility: hidden;
}






/*INICIO PORTFOLIO*/

.contenido_portfolio{

    height: 200%;
    background: var(--fucsia);
}
.adentro_portfolio{
  width: 90%;
  margin: auto;
  height: 10%;
  padding-top: 10%;
}

.serv1,.serv2,.serv3,.serv4{
  background: none;
}
.circulo{
  width: 6em;  
  height: 1.2em;
  font-size: 1em;
  line-height: 1em;
  
}
.item{
  width: 40%;
  height: 3em;
}
.item:hover h3 { 
  visibility: hidden;
}

#portfoliolist {
  width: 80%;
  margin-left: 15%;
  clear: both;
  background: red;
}



/*INICIO CONTACTO*/
.contenido_contacto{
    background: lightblue;
}