@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nlkp13');
  src:  url('fonts/icomoon.eot?nlkp13#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nlkp13') format('truetype'),
    url('fonts/icomoon.woff?nlkp13') format('woff'),
    url('fonts/icomoon.svg?nlkp13#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}







.fondo_inicio:hover .frase{
	visibility: hidden;
}
.fondo_inicio:hover .nav_home{
	visibility: visible;
}

.fondo_inicio:hover .logo_chico{
	width: 15%;
	margin:15%-10%;
	position: absolute;
   animation: scale 0.95s infinite ease-out;
    transform-origin: center;
}

.logo_chico{
	background-color: lightgray;
    width: 15%;
    -webkit-transition: all 0.5s;
    moz-webkit-transition:all 0.5s;
    o-webkit-transition:all 0.5s;
    margin:15% -10%;
    animation-play-state: paused;
}

.nav_home{
    visibility: visible; 
}

#home_responsive{
	width: 90%;
}
.nav_home{
	margin-top:-30% ;
	text-align: center;
	padding-left: 30%;
}
.nav_home ul{
	display: list-item;
	padding: 0;
	margin: 0;
}
.nav_home ul li{
	width: 45%;
	margin: 0;
	flex:1;
}

.nav_home ul li a{
	padding-bottom: 20%;


}
.nav_derecha, .nav_izquierda, .nav_centro{
    text-align: center;
    
}


hr.inicio, hr.quien_soy, hr.portfolio, hr.servicios, hr.contacto, hr.servicios2{
    width:60%;
    margin:auto;
}


/* NAV SITIO*/

h1{
	visibility: hidden;
}

.nav_sitio{
	visibility: hidden;
}

a.icon-menu{
	opacity: 1;
	 font-family: 'icomoon';
  float:right;
  padding-right: 5%;
}
a.icon-menu:before {
  content: "\e900";
 
}

.logo_nav{
	visibility: visible;
	float: left;
	max-height: 5%;
}





.adentro_portfolio{
    background: lightgray;
    width: 100%;
}





/*INICIO CONTACTO*/
.contenido_contacto{
    background: lightblue;
}