<<<<<<< HEAD
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nlkp13');
  src:  url('fonts/icomoon.eot?nlkp13#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nlkp13') format('truetype'),
    url('fonts/icomoon.woff?nlkp13') format('woff'),
    url('fonts/icomoon.svg?nlkp13#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.logo_chico{
	margin-top: 0;
}
.fondo_inicio:hover .logo_chico{
	opacity: 0;
	margin: 0;
    -webkit-transition: all 0.5s;
    moz-webkit-transition:all 0.5s;
    o-webkit-transition:all 0.5s;

}
.fondo_inicio:hover .logo_chico{
	visibility: hidden;
}


.fondo_inicio:hover .frase{
	visibility: hidden;
}
.nav_home{
	margin:-10% 45%;
	text-align: center;

}
.nav_home ul{
	display: list-item;
	padding: 0;
	margin: 0;
}


.nav_home ul li a{
	padding-bottom: 50%;


}


hr.inicio, hr.quien_soy, hr.portfolio, hr.servicios, hr.contacto, hr.servicios2{
    width:120%;
}


/* NAV SITIO*/

h1{
	float: left;
	margin-left: 5%;
	font-size: 2em;
}

.nav_sitio{
	visibility: hidden;
}

a.icon-menu{
	opacity: 1;
	 font-family: 'icomoon';
  float:right;
  padding-right: 5%;
}
a.icon-menu:before {
  content: "\e900";
 
}


.adentro_portfolio{
    background: lightblue;
    
    width: 100%;
=======
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nlkp13');
  src:  url('fonts/icomoon.eot?nlkp13#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nlkp13') format('truetype'),
    url('fonts/icomoon.woff?nlkp13') format('woff'),
    url('fonts/icomoon.svg?nlkp13#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.logo_chico{
	margin-top: 0;
}
.fondo_inicio:hover .logo_chico{
	opacity: 0;
	margin: 0;
    -webkit-transition: all 0.5s;
    moz-webkit-transition:all 0.5s;
    o-webkit-transition:all 0.5s;

}
.fondo_inicio:hover .logo_chico{
	visibility: hidden;
}


.fondo_inicio:hover .frase{
	visibility: hidden;
}
.nav_home{
	margin:-10% 45%;
	text-align: center;

}
.nav_home ul{
	display: list-item;
	padding: 0;
	margin: 0;
}


.nav_home ul li a{
	padding-bottom: 50%;


}


hr.inicio, hr.quien_soy, hr.portfolio, hr.servicios, hr.contacto, hr.servicios2{
    width:120%;
}


/* NAV SITIO*/

h1{
	float: left;
	margin-left: 5%;
	font-size: 2em;
}

.nav_sitio{
	visibility: hidden;
}

a.icon-menu{
	opacity: 1;
	 font-family: 'icomoon';
  float:right;
  padding-right: 5%;
}
a.icon-menu:before {
  content: "\e900";
 
}


.adentro_portfolio{
    background: lightblue;
    
    width: 100%;
>>>>>>> 669a2e16f6912d18b6293c4dd3cce1096ac6ff93
}