.holder, .nav{
    max-width: 760px;
}
/*NAV*/


.nav_sitio{
    width:65%;
}
.nav_sitio ul li a{
    font-size: 0.93em;

}


.nav h1{
    font-size: 1.7em;
    line-height: 0.5em;
}
/*.nav_sitio{
    margin-bottom: 15%;
}
*/



/*INICIO*/


.frase{
	padding-top: 45%; 
}

.nav_home{
	margin-top:5%;
    font-size: 1.2em;
}

.logo_chico{
    position: absolute;
    width: 20%;
    margin:30% -10%; 
    
}

 .fondo_inicio:hover .logo_chico{
    width: 8%;
    -webkit-transition: all 0.5s;
    moz-webkit-transition:all 0.5s;
    o-webkit-transition:all 0.5s;
    margin:30% -4%;
}

/*FIN INICIO*/





/*QUIEN SOY*/
.contenido_qs{
    padding: 0;
    /*background: lightgray;*/
}
.dibujoentero{
    margin-top: 8.5%;
    max-height:30em;
}
.foto_qs{
	width: 30%;
}
h3.titulo_qs{
    font-size: 1.1em;
    line-height: 1.2em;
}
.texto_qs{
    line-height: 1.15em;
    text-align: left;
    float: right;
    width: 65%;
    font-size: 1.1em;
    padding: 0;
}
.botoncontactame{
    margin-top:28%;
    margin-left: 20%;
    font-size: 0.8em;
}

.botoncv{
    font-size: 0.7em;
	margin-top: 35%;
	margin-left: 20.5%;

}
.fondocontactame{
    margin-top: -3%;
}



/*FIN QUIEN SOY*/




/*INICIO PORTFOLIO*/
.adentro_portfolio{
    background: black;
    height: 30%;
    width: 100%;
    padding-top: 10%;
    margin: 0 auto;
    /*padding-top: 10%;*/

}

.portfolio_circulos{
    margin-bottom: 5%;
}
.rectangulo{
    margin-bottom: 3%;
}

.circulo{
   width: 18%;
   line-height: 6em;
   font-size: 1.2em;
   margin-left: -2%;
   margin-right: 12%;
}

/*FIN PORTFOLIO*/

/*INICIO SERVICIOS*/
.contenido_servicios{
    padding-top: 15%;
    height: 100%;
    background: lightyellow;
}
.trabajo{
    width: 22%;
    margin-right: 3%;

}
.trabajo img{
    width: 60%;
}

.trabajo h3{
    font-size: 0.92em;
}
.trabajo ul{
    font-size: 0.85em;
}




/*FIN SERVICIOS*/



/*INICIO CONTACTO*/
.contenido_contacto {

    padding-top: 20%;
}
.campos{
    width: 50%;
}
#pais{
    width: 52%;
}
#comentarios{
    outline: none;
    width: 49%;
    padding: 1%;
}
.boton1{
    margin-right: 9.5%;
}
.formulario{
    height: 50%;
}

/*@media screen and (max-width:960px){
    .contenido_qs{
        padding-top: 10%;
    }
    .botoncontactame{
        margin-top: 32%;
         margin-left: 24%;
    }
    .botoncv{
        padding-top: 1%;
        margin-top: 35%;
         margin-left: 25%;
    }

*/
/*
    .circulo{
        margin-right: 5%;
    }
    .circulo:last-child{
    margin-right: 0;
    }
    .rectangulo{
        width: 6.9em;
        margin-right: 5%;
    }
    .rectangulo:nth-child(4n+4){
        margin-right: 0;
    }*/
}