
.holder, .nav{
    max-width: 760px;
    /*margin: 0 auto;*/
}
/*NAV*/


.nav_sitio{
    width:60%;
}
.nav_sitio ul li a{
    font-size: 0.93em;

}


.nav h1{
    font-size: 1.7em;
    line-height: 0.5em;
    width: 40%;
}

hr.portfolio{
    width: 64%;
}
hr.quien_soy{
    width:61%;
    margin: 0 auto;
} 
hr.servicios{
    width: 59.5%;
    margin: 0 0 0 auto;
} 
hr.contacto{
    width: 61%;
    margin: 0 0 0 auto;
} 
hr.servicios2{
    width: 59.5%;
    margin: auto;
} 

/*INICIO*/


.frase{
	padding-top: 35%; 
    margin-bottom: 5%;
}

.nav_home{
	margin-top:5%;
    font-size: 1.2em;
}

.logo_chico{
    position: absolute;
    width: 20%;
    margin:15% -10%; 
    
}

 .fondo_inicio:hover .logo_chico{
    width: 8%;
    -webkit-transition: all 0.5s;
    moz-webkit-transition:all 0.5s;
    o-webkit-transition:all 0.5s;
    margin:15% -4%;
}

/*FIN INICIO*/





/*QUIEN SOY*/

.dibujoentero{
    margin-top: 8.5%;
    max-height:30em;
}
.foto_qs{
	max-width: 30%;
}
h3.titulo_qs{
    font-size: 1.1em;
    line-height: 1.2em;
}
.texto_qs{
    line-height: 1.15em;
    text-align: left;
    float: right;
    max-width: 60%;
    margin-right: 5%;
    font-size: 1em;
    padding: 0;
}
.botones{
}
.botoncontactame{
   
}
a.contactame{
    
}
.botoncv{
    margin-top: 3%;
    
}


/*FIN QUIEN SOY*/




/*INICIO PORTFOLIO*/
.adentro_portfolio{
    height: 30%;
    max-width: 100%;
    padding-top: 10%;
    margin: 0 auto;

}

.portfolio_circulos{
    margin-bottom: 5%;
}
.rectangulo{
    margin-bottom: 3%;
}

.circulo{
   max-width: 18%;
   line-height: 6em;
   font-size: 1.2em;
   margin-left: -2%;
   margin-right: 11.5%;
}


.item h3{
    font-size: 1em;
    line-height:2em;
}
/*FIN PORTFOLIO*/





/*INICIO SERVICIOS*/
.contenido_servicios{
    height: 100%;
    margin: 0 auto;
}
.descripcion_servicios{
    margin: -1% 5% 0 5%;
    width: 90%;
}

.trabajo{
    width: 23.5%;
    margin: 3% 1% 5% 0;

}
.trabajo img{
    max-width: 45%;
}

.trabajo h3{
    font-size:1em;
}
.trabajo ul{
    font-size:1em;
}
.servs{
    float: none;
    margin-left: 40%;
    max-width: 10%;
    text-align: center;
}

.descripcion_servicios h2{
    clear: both;
    max-width: 100%;
    margin:0;
    float: none;
}



/*FIN SERVICIOS*/


/*INICIO CONTACTO*/
.contenido_contacto{
    margin-bottom: 2%;
    margin-top: 10%;}

#comentarios{
    outline: none;
    padding: 1%;
}
.boton1{
    margin-right: 9.5%;
}
.formulario{
    height: 50%;
}

#section_formulario
{
    width: 40%;
    margin-bottom: 2%;
}

.botones_footer{
    padding-bottom: 1%;
    width: 40%;
}
